.root {
  position: absolute;
  top: 6.8vmin;
  left: 11.75vmin;
  bottom: 6.8vmin;
  right: 8.4vmin;
  padding: 2vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dataPanel {
  @extend .column;
  padding: 0.5vmin;
  background-color: #222;
  border-radius: 0.5vmin;
  border: 1px solid wheat;
}

.panelTitle {
  position: relative;
  color: wheat;
  font-size: 1.2rem;
  border-bottom: 1px solid yellow;
}

.ownerLabel {
  position: relative;
  color: grey;
  font-size: 0.8rem;
  font-style: italic;
}

.characterSelectorPanel {
  @extend .dataPanel;
  margin-top: 1vmin;
  flex-direction: row;
}

.characterSelectorLabel {
  position: relative;
  color: wheat;
  font-size: 1.2rem;
}

.characterSelectorValue {
  position: relative;
  color: yellow;
  font-size: 1.2rem;
  width: 15vmin;
}

.editButton {
  position: relative;
  margin-left: 0.5vmin;
}

.editButtonInline {
  position: relative;
  margin-left: 0.5vmin;
  margin-top: -0.25vmin;
  margin-bottom: -0.25vmin;
}

.financesPanel {
  @extend .dataPanel;
  margin-top: 1vmin;
}

.storagesPanel {
  @extend .row;
  margin-top: 0.5vmin;
  border: 1px solid white;
}

.storageFirstColumn {
  @extend .column;
  align-items: unset;
}

.storageHeader {
  position: relative;
  padding: 0.5vmin;
  background-color: #111;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid white;
}

.storageCell {
  position: relative;
  padding: 0.5vmin;
  background-color: #222;
  display: flex;
  flex-direction: row;

  &.odd {
    background-color: #111;
  }
}

.storageName {
  position: relative;
  font-size: 1rem;
  color: goldenrod;
}

.storageOtherColumn {
  @extend .column;
  align-items: unset;
  border-left: 1px solid white;
}

.storageMoney {
  position: relative;
  font-size: 1rem;
  text-align: right;
  color: #0c0;
  flex-grow: 1;
}

.storageExpense {
  position: relative;
  font-size: 1rem;
  text-align: right;
  color: #c00;
  flex-grow: 1;
}

.financeStatusLabel {
  position: relative;
  font-size: 1rem;
  text-align: right;
  flex-grow: 1;

  &.Unpaid {
    color: red;
  }
  &.Paid {
    color: #0c0;
    font-weight: bold;
    font-style: italic;
  }
}

.payButton {
  position: relative;
  margin-left: 0.5vmin;
  padding: 0.1vmin;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.5vmin;
  font-size: 0.7rem;
  line-height: 0.8rem;
  user-select: none;
  cursor: pointer;

  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.85;
  }
}

.costOfLivingPanel {
  @extend .dataPanel;
}

.costOfLivingDataRow {
  @extend .row;
  margin-top: 0.5vmin;
}

.costOfLivingLabel {
  position: relative;
  color: white;
  font-size: 1rem;
}

.costOfLivingValue {
  position: relative;
  color: yellow;
  font-size: 1rem;
}

.payCostOfLivingButton {
  position: relative;
  margin-top: 1vmin;
  padding: 0.5vmin;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.5vmin;
  font-size: 1rem;
  user-select: none;
  cursor: pointer;

  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.85;
  }
}

.infoButton {
  position: relative;
  margin-left: 0.5vmin;
  margin-top: -0.25vmin;
  margin-bottom: -0.25vmin;
}

.destituteTooltipRoot {
  @extend .column;
}

.destituteTooltipRow {
  position: relative;
  font-size: 1rem;
  color: #c00;
}

.expensesTooltipRoot {
  @extend .column;
  align-items: flex-start;
}

.expensesTooltipHeader {
  position: relative;
  align-self: center;
  margin-bottom: 0.5vmin;
  font-size: 1.2rem;
  color: wheat;
  border-bottom: 1px solid yellow;
}

.expensesTooltipExpenseType {
  position: relative;
  font-size: 1rem;
  color: #990;
  text-align: right;
  width: 18vmin;
  flex-shrink: 0;
}

.expensesTooltipExpenseAmount {
  position: relative;
  font-size: 1rem;
  color: #c00;
}

.forSaleCount {
  width: 100%;
  text-align: center;
  color: lime;
}
