.root {
  position: relative;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 1vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  margin-top: 0.2vmin;
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.arrayWrapper {
  @extend .column;
  position: relative;
  margin: 0.2vmin;
  padding: 0.2vmin;
  box-shadow: inset 0 0 0 2px rgb(50, 65, 17);
}

.entry {
  @extend .row;
  position: relative;
  flex-wrap: nowrap;
  background-color: black;
}

.entryIndex {
  position: relative;
  flex-shrink: 0;
  width: 2.5vmin;
  font-size: 1rem;
  text-align: center;
  user-select: none;
  color: wheat;
}

.entryContent {
  @extend .column;
  position: relative;
  flex-grow: 1;
}

.label {
  position: relative;
  margin-top: 0.2vmin;
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.field {
  position: relative;
  margin-left: 0.5vmin;
  resize: none;
}

.deleteButton {
  margin: 0 0.5vmin 0 0.5vmin;
}

.alternater {
  background-color: #222;
}
