.root {
  position: relative;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 1vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.label {
  position: relative;
  margin-top: 0.2vmin;
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.field {
  position: relative;
  width: 3vmin;
  resize: none;
}

.longField {
  position: relative;
  width: 13.5vmin;
  resize: none;
}

.abilityName {
  @extend .label;
  color: yellow;
}
