.root {
  position: relative;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  border-radius: 1vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapRow {
  @extend .row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  margin-top: 0.2vmin;
  font-size: 1rem;
  color: yellow;
  user-select: none;
}

.entry {
  @extend .row;
  position: relative;
  flex-wrap: nowrap;
}

.label {
  position: relative;
  margin-top: 0.2vmin;
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.field {
  position: relative;
  margin-left: 0.5vmin;
  resize: none;
}
