.root {
  position: absolute;
  top: 6.8vmin;
  left: 11.75vmin;
  bottom: 6.8vmin;
  right: 8.4vmin;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mapSelectorRoot {
  position: absolute;
  top: 0.25vmin;
  left: 0.25vmin;
  width: 25vmin;
  box-sizing: border-box;
  border-radius: 0.5vmin;
  border: solid 2px wheat;
  box-shadow: 0 0 1.5vmin 0px wheat;
  background-color: black;

  display: flex;
  flex-direction: column;

  padding: 0.5vmin;
}

.mapSelectorTitle {
  color: wheat;
  text-align: center;
  font-size: 1.3rem;
}

.mapSelector {
  position: relative;
  margin-top: 0.5vmin;
  margin-bottom: 1vmin;
  resize: none;
}

.editIcon {
  background-image: url("/images/EditIcon.png");
  background-size: contain;
  cursor: pointer;
}

.mapEditButton {
  @extend .editIcon;
  position: absolute;
  top: 0.5vmin;
  right: 0.5vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.hexDataRoot {
  @extend .column;
  position: absolute;
  top: 0;
  right: 2.25vmin;
  width: 25vmin;
}

.hexDataSection {
  position: relative;
  margin-top: 0.25vmin;
  box-sizing: border-box;
  border-radius: 0.5vmin;
  border: solid 2px wheat;
  box-shadow: 0 0 1.5vmin 0px wheat;
  background-color: black;

  display: flex;
  flex-direction: column;

  padding: 0.5vmin;
}

.typeSelectorTitle {
  color: white;
  text-align: center;
  font-size: 1rem;
  width: 8vmin;
}

.typeSelector {
  position: relative;
  resize: none;
  width: 15vmin;
}

.locationsTitle {
  color: wheat;
  text-align: center;
  font-size: 1.3rem;
}

.locationsAddButton {
  position: absolute;
  top: 0.7vmin;
  right: 0.5vmin;
  width: 2vmin;
  height: 2vmin;
  box-sizing: border-box;
  border-radius: 0.25vmin;
  font-size: 1.65rem;
  text-align: center;
  line-height: 1.85vmin;
  color: wheat;
  border: 2px solid wheat;
  border-radius: 0.5vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.locationsDivider {
  position: relative;
  background-color: gray;
  height: 2px;
  margin-top: 0.25vmin;
}

.locationsList {
  position: relative;
  margin: 0.75vmin 0.25vmin 0.25vmin;
  height: 10vmin;
  box-sizing: border-box;
  padding-top: 0.5vmin;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
  border-radius: 0.5vmin;
  box-shadow: inset 0 0 0 2px wheat;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background-color: black;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.locationRow {
  @extend .row;
  margin-bottom: 0.5vmin;
  padding: 0.5vmin;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.3);
  }
}

.locationDataRow {
  @extend .row;
  flex-grow: 1;
}

.locationName {
  font-size: 1rem;
  color: white;
}

.locationEditButton {
  @extend .editIcon;
  position: relative;
  width: 2vmin;
  height: 2vmin;
  flex-shrink: 0;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.mapSettingsRow {
  position: relative;
  display: flex;
  flex-direction: row;
}

.mapSettingsCheckbox {
  position: relative;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  border: 2px solid wheat;
  border-radius: 1rem;
  cursor: pointer;

  &.checked {
    &::after {
      content: "";
      cursor: pointer;
      position: absolute;
      border-radius: 0.5rem;
      top: 0.25vmin;
      left: 0.25vmin;
      right: 0.25vmin;
      bottom: 0.25vmin;
      background-color: red;
    }
  }
}

.mapSettingsLabel {
  position: relative;
  margin-left: 1vmin;
  color: white;
  font-size: 1rem;
}
