.root {
  width: 59vmin;
  height: 70.5vmin;
  border-radius: 1vmin;
  border: 2px solid white;
  background-color: #222;
}

.labelText {
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.firstLabel {
  @extend .labelText;
  margin-top: 0.2vmin;
}

.secondLabel {
  @extend .firstLabel;
  margin-left: 0.5vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.panelTitle {
  font-size: 3rem;
  color: wheat;
  position: absolute;
  top: 1vmin;
  left: 2vmin;
  right: 2vmin;
  text-align: center;
  border-bottom: 1px solid yellow;
  user-select: none;
}

.itemListRoot {
  position: absolute;
  top: 8vmin;
  left: 2vmin;
  width: 20vmin;
  height: 55.5vmin;
}

.footerButton {
  position: absolute;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  user-select: none;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.createNewButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 2vmin;
}

.deleteButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 15.5vmin;
}

.saveButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 33.5vmin;
}

.dataPanelRoot {
  position: absolute;
  top: 8vmin;
  right: 2vmin;
  width: 34vmin;
  height: 55.5vmin;
  background-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 0.5vmin;
}

.textInput {
  position: relative;
  resize: none;
}

.idField {
  @extend .textInput;
  margin-left: 0.5vmin;
  opacity: 0.3;
  pointer-events: none;
}

.nameField {
  @extend .textInput;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.descriptionField {
  @extend .textInput;
  height: 5vmin;
}

.trailingCheckbox {
  margin-left: 0.5vmin;
}

.sizeStonesField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 4vmin;
}

.sizeSixthStonesField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 3vmin;
}

.numberPerStoneField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 3vmin;
}

.storageStonesField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 4vmin;
}

.storageSixthStonesField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 3vmin;
}

.storageFiltersField {
  @extend .textInput;
  height: 3.5vmin;
  resize: none;
}

.smallInputField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 3vmin;
}

.tagsField {
  @extend .textInput;
  height: 3.5vmin;
  resize: none;
}

.gpInputField {
  @extend .smallInputField;
  width: 5vmin;
}

.associatedSpells {
  padding: 0.5vmin;
  background-color: black;
  font-size: 0.9rem;
  color: yellow;
}
