.root {
  position: relative;
  width: 79vmin;
  height: 66.2vmin;
}

.labelText {
  font-size: 1rem;
  color: wheat;
  user-select: none;
}

.firstLabel {
  @extend .labelText;
  margin-top: 0.2vmin;
}

.secondLabel {
  @extend .firstLabel;
  margin-left: 0.5vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.panelTitle {
  font-size: 2.2rem;
  color: wheat;
  position: absolute;
  top: 1vmin;
  left: 2vmin;
  right: 2vmin;
  text-align: center;
  border-bottom: 1px solid yellow;
  user-select: none;
}

.setListRoot {
  position: absolute;
  top: 8vmin;
  left: 2vmin;
  width: 20vmin;
  height: 51.2vmin;
}

.footerButton {
  position: absolute;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  user-select: none;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.createNewButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 2vmin;
}

.deleteButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 15.5vmin;
}

.saveButton {
  @extend .footerButton;
  bottom: 2vmin;
  left: 33.5vmin;
}

.dataPanelRoot {
  position: absolute;
  top: 8vmin;
  left: 24vmin;
  width: 25vmin;
  height: 30vmin;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.textInput {
  position: relative;
  resize: none;
}

.idField {
  @extend .textInput;
  margin-left: 0.5vmin;
  opacity: 0.3;
  pointer-events: none;
}

.nameField {
  @extend .textInput;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.descriptionField {
  @extend .textInput;
  height: 5vmin;
}

.rangeField {
  @extend .textInput;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.durationField {
  @extend .textInput;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.smallInputField {
  @extend .textInput;
  margin-left: 0.5vmin;
  width: 3vmin;
}

.tagsField {
  @extend .textInput;
  height: 3.5vmin;
  resize: none;
}

.typeLevelsField {
  @extend .textInput;
  height: 3.5vmin;
  resize: none;
}

.tableDataField {
  @extend .textInput;
  height: 3.5vmin;
  resize: none;
}

.savingVeil {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: all;
}

.savingLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  font-size: 3rem;
}

.classSelector {
  position: relative;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.itemSelector {
  position: relative;
  margin-left: 0.5vmin;
  flex-grow: 1;
}

.containersPanelRoot {
  position: absolute;
  top: 8vmin;
  left: 51vmin;
  width: 27vmin;
  height: 51vmin;
  background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.inventoryList {
  height: 100%;
}
