.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rowText {
  @extend .normalText;
  width: 15vmin;
  text-align: right;
}

.orText {
  @extend .normalText;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  text-align: center;
}

.dialogButton {
  position: relative;
  box-sizing: border-box;
  padding: 0.35vmin 1vmin;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 0.5vmin;
  background-color: #333;
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.closeButton {
  @extend .dialogButton;
  margin-top: 1.5vmin;
  width: 15vmin;
}

.hpTextField {
  width: 7vmin;
  margin-left: 1vmin;
  margin-right: 0.5vmin;
}
