.root {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.headerSection {
  @extend .row;
}

.headerContent {
  flex-grow: 1;
}

.expandButton {
  position: relative;
  width: 2vmin;
  height: 2vmin;
  flex-shrink: 0;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 0.25vmin;
  cursor: pointer;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.contentClipper {
  @extend .column;
  display: none;

  &.open {
    display: flex;
  }
}
