.root {
  position: absolute;
  top: 12vmin;
  right: 3vmin;
  display: flex;
  flex-direction: column;
}

.roleContainer {
  position: relative;
  margin-top: 0.5vmin;
  margin-left: 0.5vmin;
  width: 4.5vmin;
  height: 4.5vmin;
  box-shadow: inset 0 0 0 3px transparent;
  border-radius: 2.25vmin;
  background-color: #333;
  color: white;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 3px #999;
  }

  &.selected {
    opacity: 1;
    box-shadow: inset 0 0 0 3px red;
  }
}

.roleImage {
  position: absolute;
  top: 10%;
  left: 9%;
  width: 80%;
  height: 80%;
  border-radius: 45%;
  overflow: hidden;
}
