.root {
  display: flex;
  flex-direction: column;
  max-width: 40vmin;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameRow {
  @extend .row;
  justify-content: space-between;
}

.name {
  color: wheat;
  font-size: 1rem;
}

.slot {
  color: yellow;
  font-size: 0.9rem;
}

.description {
  color: gray;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.segment {
  width: 13.333vmin;
  color: white;
  font-size: 0.9rem;
}

.itemId {
  font-size: 0.8rem;
  color: #447722;
}

.notesSection {
  position: relative;
  border: 1px solid gray;
  padding: 0.5vmin;
  margin: 0.5vmin;
  color: gray;
  font-size: 0.8rem;
  white-space: pre-wrap;
}

.forSale {
  position: relative;
  font-size: 0.8rem;
  color: darkgoldenrod;
}

.grantsXP {
  position: relative;
  font-size: 0.8rem;
  color: darkcyan;
}

.ownersLabel {
  position: relative;
  font-size: 0.8rem;
  color: yellowgreen;
  white-space: pre-wrap;
}
