.root {
  position: absolute;
  top: 3vmin;
  left: 40vmin;
  right: 3vmin;
  bottom: 3vmin;

  &.exit {
    animation: hmpcsSlideOut 1s forwards;
    @keyframes hmpcsSlideOut {
      0% {
        opacity: 1;
        transform: translateX(0vmin);
      }
      99% {
        opacity: 1;
        transform: translateX(60vmin);
      }
      100% {
        opacity: 0;
        transform: translateX(60vmin);
      }
    }
  }

  &.enter {
    animation: hmpcsZoomIn 1s forwards;
    @keyframes hmpcsZoomIn {
      0% {
        opacity: 0;
        transform: scale(0.5) translateX(-10vmin);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.placeholder {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  right: 1vmin;
  bottom: 1vmin;
  background-image: url("/images/CharacterSheetPlaceholder.png");
  background-position: center;
  opacity: 0.1;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.subText {
  font-size: 1rem;
  color: white;
}

.valueText {
  font-size: 1rem;
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.verticalSpacer {
  position: relative;
  height: 0.5vmin;
}

.horizontalSpacer {
  position: relative;
  width: 0.5vmin;
}

.editIcon {
  background-image: url("/images/EditIcon.png");
  background-size: contain;
  cursor: pointer;
}

.nameContainer {
  position: relative;
  height: 3.2vmin;
}

.nameLabel {
  @extend .normalText;
  position: relative;
  font-size: 2rem;
  white-space: nowrap;
}

.topPanel {
  @extend .column;
  margin-bottom: 1vmin;
}

.leftPanel {
  @extend .column;
  position: relative;
  align-self: flex-start;
}

.rightPanel {
  @extend .column;
  position: relative;
  align-self: flex-start;
  margin-left: 1vmin;
}

.topPanelGrid {
  position: relative;
  display: flex;
  flex-direction: row;
}

.statsContainer {
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.statPanel {
  @extend .row;
  margin-bottom: 0.5vmin;
}

.statName {
  @extend .normalText;
  width: 2.5rem;
}

.statValue {
  @extend .valueText;
  width: 1.3rem;
  text-align: center;
}

.statBonus {
  @extend .normalText;
  width: 2rem;
  text-align: center;
}

.savingThrowsContainer {
  width: 8vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.savingThrowsText {
  @extend .normalText;
  text-align: center;
}

.savingThrowsName {
  flex-grow: 1;
  text-align: right;
}

.savingThrowsValue {
  @extend .savingThrowsText;
  width: 3vmin;
}

.horizontalLine {
  background-color: yellow;
  height: 1px;
  margin-bottom: 0.5vmin;
}

.speedContainer {
  width: 17vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.speedTitle {
  @extend .normalText;
  font-size: 0.8rem;
  width: 8vmin;
}

.speedValue {
  @extend .valueText;
}

.speedStone {
  @extend .normalText;
  margin-left: 0.3rem;
}

.initiativeContainer {
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.initiativeTitle {
  @extend .normalText;
  flex-grow: 1;
}

.xpContainer {
  @extend .column;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;

  &.levelUp {
    animation: hmpcsLevelUpFlash 0.5s alternate infinite;
    @keyframes hmpcsLevelUpFlash {
      0% {
        box-shadow: inset 0 0 0 2px transparent;
      }
      100% {
        box-shadow: inset 0 0 0 2px lime;
      }
    }
  }
}

.xpTitle {
  @extend .normalText;
  flex-grow: 1;
}

.xpNumbers {
  display: flex;
  flex-direction: row;
}

.xpValue {
  @extend .valueText;

  &.levelUp {
    color: lime;
  }
}

.xpCap {
  @extend .normalText;
  margin-left: 0.5vmin;
}

.xpEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.levelUpButton {
  margin-bottom: 0.5vmin;
  font-size: 1rem;
  align-self: center;
  padding: 0.3vmin 3vmin;
  border-radius: 0.5vmin;
  box-sizing: border-box;
  border: 2px solid white;
  background-color: #49f;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  animation: hmpcsHueRotate 1s alternate infinite;
  @keyframes hmpcsHueRotate {
    0% {
      filter: hue-rotate(180deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

.hpContainer {
  @extend .column;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;

  &.dying {
    animation: hmpcsDyingFlash 0.5s alternate infinite;
    @keyframes hmpcsDyingFlash {
      0% {
        box-shadow: inset 0 0 0 2px transparent;
      }
      100% {
        box-shadow: inset 0 0 0 2px red;
      }
    }
  }
}

.hpTitle {
  @extend .normalText;
  width: 3vmin;
}

.hpNumbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 5.4vmin;
}

.hpValue {
  @extend .valueText;

  &.dying {
    color: red;
  }
}

.hpCap {
  @extend .normalText;
  margin-left: 0.5vmin;
}

.hpEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.spellRepertoirePanel {
  @extend .column;
  position: relative;
  margin-top: 1vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.repertoireEditButton {
  @extend .editIcon;
  margin-left: 3.5vmin;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.repertoireScroller {
  @extend .column;
  width: 26.5vmin;
  height: 25vmin;
  margin-bottom: 0.5vmin;
  background-color: black;
  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.repertoireSection {
  @extend .column;
}

.repertoireSectionHeader {
  @extend .row;
  padding-left: 0.5vmin;
  background-color: rgb(0, 35, 35);
  color: white;
  font-size: 1rem;
}

.repertoireLevelHeader {
  @extend .row;
  margin-left: 1vmin;
  padding-left: 0.5vmin;
  background-color: rgb(0, 25, 25);
  color: white;
  font-size: 1rem;
}

.repertoireLevelName {
  color: white;
  font-size: 1rem;
  width: 12vmin;
  text-align: left;

  &.none {
    color: gray;
  }
}

.repertoireLevelPreparedCount {
  color: white;
  font-size: 1rem;
  width: 5vmin;
  text-align: center;

  &.none {
    color: gray;
  }
}

.repertoireSpellRow {
  @extend .row;
  margin-left: 2vmin;
  padding-left: 0.5vmin;
  background-color: rgb(0, 15, 15);
  color: white;
  font-size: 1rem;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.3);
  }
}

.spellSlotsPanel {
  @extend .column;
  position: relative;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.spellSlotsTitle {
  @extend .normalText;
}

.spellSlotsCell {
  height: 1vmin;
}

.spellSlotsHeader {
  text-align: center;
  width: 3vmin;
}

.spellSlotsValue {
  @extend .valueText;
  text-align: center;
}

.spellSlotsNone {
  @extend .spellSlotsValue;
  color: gray;
}

.spellTypeDivider {
  @extend .horizontalLine;
  background-color: wheat;
}

.abilitiesPanel {
  @extend .column;
  position: relative;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.abilitiesTitle {
  @extend .normalText;
  flex-grow: 1;
}

.abilitiesEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.equipmentContainer {
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.equipmentTitle {
  @extend .normalText;
  flex-grow: 1;
}

.equipmentEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.acTitle {
  @extend .normalText;
  width: 6vmin;
}

.acTooltipRoot {
  max-width: 45vmin;
}

.acTooltipTitle {
  font-size: 1rem;
  color: wheat;
  min-width: 10vmin;
  flex-grow: 1;
}

.acTooltipValue {
  margin-left: 1vmin;
  font-size: 1rem;
  color: yellow;
}

.acTooltipDivider {
  background-color: wheat;
  height: 1px;
  width: 100%;
}

.acTooltipSourceRow {
  @extend .row;
  margin-top: 0.5vmin;
}

.acTooltipSource {
  flex-grow: 1;
  font-size: 0.8rem;
  color: gray;
  text-align: justify;
}

.acTooltipSourceValue {
  margin-left: 0.5vmin;
  font-size: 0.8rem;
  color: rgba(255, 255, 0, 0.5);
}

.speedTooltipRoot {
  width: 24vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.speedTooltipEncumbranceColumn {
  @extend .column;
  width: 14.5vmin;
}

.speedTooltipSpeedColumn {
  @extend .column;
  width: 8vmin;
}

.speedTooltipTitle {
  font-size: 1rem;
  color: wheat;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid yellow;
}

.speedTooltipActiveEntry {
  font-size: 1rem;
  color: white;
  width: 100%;
  text-align: center;
  margin-top: 0.5vmin;
}

.speedTooltipInactiveEntry {
  font-size: 0.8rem;
  color: #555;
  width: 100%;
  text-align: center;
  margin-top: 0.5vmin;
}

.moneyTooltipRoot {
  max-width: 45vmin;
}

.moneyTooltipTitle {
  font-size: 1rem;
  color: wheat;
  min-width: 10vmin;
  flex-grow: 1;
}

.moneyTooltipValue {
  margin-left: 1vmin;
  font-size: 1rem;
  color: yellow;
}

.moneyTooltipDivider {
  background-color: wheat;
  height: 1px;
  width: 100%;
}

.moneyTooltipSourceRow {
  @extend .row;
  margin-top: 0.5vmin;
}

.moneyTooltipSource {
  flex-grow: 1;
  font-size: 0.8rem;
  color: gray;
  text-align: justify;
}

.moneyTooltipSourceValue {
  margin-left: 0.5vmin;
  font-size: 0.8rem;
  color: rgba(255, 255, 0, 0.5);
}

.initiativeTooltipRoot {
  max-width: 45vmin;
}

.combatContainer {
  @extend .column;
  width: 17vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.combatTitle {
  @extend .normalText;
}

.combatTypeContainer {
  margin-bottom: 0.5vmin;
  border-radius: 0.5vmin;
  background-color: black;
}

.combatTypeName {
  color: white;
  font-size: 0.7rem;
}

.combatDamageRoll {
  color: #ff5511;
  font-size: 0.9rem;
}

.combatHitRoll {
  margin-left: 1vmin;
  color: green;
  font-size: 0.9rem;
}

.combatTooltipRoot {
  max-width: 45vmin;
}

.levelBasedSkillsPanel {
  @extend .column;
  position: relative;
  margin-top: 1vmin;
  width: 21vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.specialSkillsContainer {
  @extend .column;
  position: relative;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  max-height: 17.5vmin;
  background-color: black;

  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.specialSkillRow {
  @extend .row;
  justify-content: space-between;
  background-color: #111;
  border-radius: 0.2vmin;
  margin-bottom: 2px;
}

.specialSkillName {
  font-size: 0.8rem;
  color: white;
}

.infoAsterisk {
  font-size: 0.8rem;
  color: lime;
}

.specialSkillRoll {
  font-size: 0.8rem;
  color: yellow;
  width: 3vmin;
  text-align: center;
}

.specialSkillsTooltip {
  max-width: 35vmin;
  color: #ffd;
  font-size: 1rem;
}

.tooltipConditionalHeader {
  margin-top: 1vmin;
  font-size: 0.8rem;
  color: wheat;
}

.deductibleContainer {
  @extend .column;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.deductibleTitle {
  @extend .normalText;
  flex-grow: 1;
}

.deductibleValue {
  @extend .valueText;
  margin-top: -0.5vmin;
  text-align: center;
}

.deductibleEditButton {
  position: relative;
  flex-shrink: 0;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;
}

.deductibleTooltipRoot {
  max-width: 28vmin;
}

.deductibleExplanation {
  position: relative;
  margin-top: 0.5vmin;
  font-size: 0.8rem;
  color: rgb(80, 128, 80);
  font-style: italic;
}

.moneyContainer {
  @extend .column;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.moneyTitle {
  @extend .normalText;
  flex-grow: 1;
}

.moneyValue {
  @extend .valueText;
  margin-top: -0.5vmin;
  text-align: center;
}

.moneyEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.injuriesPanel {
  @extend .column;
  position: relative;
  margin-top: 1vmin;
  width: 21vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.injuriesContainer {
  @extend .column;
  position: relative;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  height: 5vmin;
  background-color: black;

  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.injuriesTitle {
  @extend .normalText;
  flex-grow: 1;
}

.injuriesEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.locationContainer {
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.locationTitle {
  @extend .normalText;
  flex-grow: 1;
}

.locationEditButton {
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
}
