.root {
  position: absolute;
  top: 3vmin;
  left: 40vmin;
  right: 3vmin;
  bottom: 3vmin;
  box-sizing: border-box;
  border-radius: 0.5vmin;
  border: solid 2px wheat;
  box-shadow: 0 0 1.5vmin 0px wheat;
  background-color: black;

  &.exit {
    animation: hmpcsSlideOut 1s forwards;
    @keyframes hmpcsSlideOut {
      0% {
        opacity: 1;
        transform: translateX(0vmin);
      }
      99% {
        opacity: 1;
        transform: translateX(60vmin);
      }
      100% {
        opacity: 0;
        transform: translateX(60vmin);
      }
    }
  }

  &.enter {
    animation: hmpcsZoomIn 1s forwards;
    @keyframes hmpcsZoomIn {
      0% {
        opacity: 0;
        transform: scale(0.5) translateX(-10vmin);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.placeholder {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  right: 1vmin;
  bottom: 1vmin;
  background-image: url("/images/CharacterSheetPlaceholder.png");
  background-position: center;
  opacity: 0.1;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.valueText {
  font-size: 1rem;
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.editIcon {
  background-image: url("/images/EditIcon.png");
  background-size: contain;
}

.nameLabel {
  @extend .normalText;
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  right: 1vmin;
  font-size: 2rem;
  text-align: center;
}

.statsPanel {
  position: absolute;
  top: 5vmin;
  left: 1.5vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.statPanel {
  @extend .row;
  margin-bottom: 0.5vmin;
}

.statName {
  @extend .normalText;
  width: 2.5rem;
}

.statValue {
  @extend .valueText;
  width: 1.3rem;
  text-align: center;
}

.statBonus {
  @extend .normalText;
  width: 2rem;
  text-align: center;
}

.savingThrowsPanel {
  position: absolute;
  top: 5vmin;
  left: 12.5vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.savingThrowsText {
  @extend .normalText;
  text-align: center;
}

.savingThrowsName {
  flex-grow: 1;
  text-align: right;
}

.savingThrowsValue {
  @extend .savingThrowsText;
  width: 3vmin;
}

.horizontalLine {
  background-color: yellow;
  height: 1px;
  margin-bottom: 0.5vmin;
}

.speedPanel {
  position: absolute;
  top: 5vmin;
  left: 22.5vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
  display: flex;
  flex-direction: column;
}

.speedTitle {
  @extend .normalText;
  width: 10.5vmin;
}

.speedValue {
  @extend .valueText;
}

.speedStone {
  @extend .normalText;
  margin-left: 0.3rem;
}

.xpPanel {
  @extend .row;
  position: absolute;
  top: 20vmin;
  left: 1.5vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.xpTitle {
  @extend .normalText;
  width: 5vmin;
}

.xpValue {
  @extend .valueText;
  width: 5vmin;
  text-align: right;
}

.xpEditButton {
  @extend .editIcon;
  margin-left: 0.5vmin;
  margin-top: 0vmin;
  margin-bottom: 0.4vmin;
  width: 2vmin;
  height: 2vmin;

  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
