.root {
  width: 50vmin;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.label {
  color: wheat;
  font-size: 1.2rem;
  text-align: right;
}

.textField {
  position: relative;
  font-size: 1.1rem;
}

.contentRow {
  @extend .row;
  position: relative;
  margin-top: 1vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.centeredContentRow {
  @extend .contentRow;
  justify-content: center;
}

.radioGroup {
  font-size: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
}

.radioButton {
  margin-top: 0vmin;
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #aaa;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;

  &:checked {
    background-color: lime;
  }
}

.radioLabel {
  flex-grow: 1;
  margin-left: 0.5vmin;
}

.titleLabel {
  position: relative;
  margin-top: 0.5vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 1.5rem;
  color: wheat;
  text-align: center;
  border-bottom: 1px solid yellow;
}

.nameLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.nameTextField {
  @extend .textField;
  margin-left: 1vmin;
  width: 30vmin;
}

.genderLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.genderRadioGroup {
  @extend .radioGroup;
  margin-left: 1vmin;
  width: 25vmin;
}

.rollPersonalsButton {
  position: relative;
  margin-left: 1vmin;
  margin-top: 0vmin;
  margin-bottom: -4vmin;
  width: 6vmin;
  height: 6vmin;
  border: solid 0.25vmin #aaa;
  border-radius: 1.5vmin;
  background-image: url("/images/ThreeDSix.png");
  background-size: contain;
  opacity: 0.5;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;

  &:hover {
    opacity: 1;
    border: solid 0.25vmin yellow;
  }

  &:active {
    opacity: 0.8;
    border: solid 0.25vmin lime;
  }
}

.classLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.classSelector {
  position: relative;
  margin-left: 1vmin;
  width: 18vmin;
}

.levelLabel {
  @extend .label;
  position: relative;
  width: 7vmin;
}

.levelTextField {
  @extend .textField;
  position: relative;
  width: 4vmin;
  margin-left: 0.5vmin;
}

.xpLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.xpRangeLabel {
  @extend .label;
  position: relative;
  margin-left: 1vmin;
}

.xpTextField {
  @extend .textField;
  position: relative;
  margin-left: 1vmin;
  width: 10vmin;
}

.strengthLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.strengthTextField {
  @extend .textField;
  position: relative;
  width: 4vmin;
  margin-left: 1vmin;
}

.intelligenceLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.intelligenceTextField {
  @extend .textField;
  position: relative;
  width: 4vmin;
  margin-left: 1vmin;
}

.willLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.willTextField {
  @extend .textField;
  position: relative;
  width: 4vmin;
  margin-left: 1vmin;
}

.dexterityLabel {
  @extend .label;
  position: relative;
  width: 5vmin;
}

.dexterityTextField {
  @extend .textField;
  position: relative;
  margin-left: 1vmin;
  width: 4vmin;
}

.constitutionLabel {
  @extend .label;
  position: relative;
  width: 5vmin;
}

.constitutionTextField {
  @extend .textField;
  position: relative;
  margin-left: 1vmin;
  width: 4vmin;
}

.charismaLabel {
  @extend .label;
  position: relative;
  width: 5vmin;
}

.charismaTextField {
  @extend .textField;
  position: relative;
  margin-left: 1vmin;
  width: 4vmin;
}

.primeRequisiteLabel {
  color: magenta;
}

.rollStatsButton {
  position: relative;
  margin-left: 1vmin;
  margin-top: 0.7vmin;
  width: 6vmin;
  height: 6vmin;
  border: solid 0.25vmin #aaa;
  border-radius: 1.5vmin;
  background-image: url("/images/ThreeDSix.png");
  background-size: contain;
  opacity: 0.5;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 1;
    border: solid 0.25vmin yellow;
  }

  &:active {
    opacity: 0.8;
    border: solid 0.25vmin lime;
  }
}

.hitDiceLabel {
  @extend .label;
  position: relative;
  width: 10vmin;
}

.hitDiceWrapper {
  position: relative;
  margin-left: 1vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 23.1vmin;
  align-items: flex-start;
}

.hitDieWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: 0.5vmin;
  align-items: center;
}

.hitDieLabel {
  @extend .label;
  flex-shrink: 0;
  width: 3vmin;
  font-size: 1rem;
  color: white;
}

.hitDieTextField {
  @extend .textField;
  width: 3vmin;
  margin-left: 0.5vmin;
}

.rollHitpointsButton {
  position: relative;
  margin-top: 0.5vmin;
  margin-left: 1vmin;
  width: 6vmin;
  height: 6vmin;
  border: solid 0.25vmin #aaa;
  border-radius: 1.5vmin;
  background-image: url("/images/ThreeDSix.png");
  background-size: contain;
  opacity: 0.5;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    opacity: 1;
    border: solid 0.25vmin yellow;
  }

  &:active {
    opacity: 0.8;
    border: solid 0.25vmin lime;
  }
}

.selectablesTitle {
  @extend .label;
  text-align: center;
}

.selectableName {
  @extend .label;
  font-size: 1rem;
  width: 20vmin;
  color: rgb(225, 255, 179);
}

.selectableSelector {
  margin-left: 1vmin;
  width: 15vmin;
}

.buttonRow {
  @extend .row;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  position: relative;
  justify-content: center;
}

.killOrReviveButton {
  position: relative;
  margin-right: 2vmin;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }
}

.saveButton {
  position: relative;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }
}

.deleteButton {
  position: relative;
  margin-left: 2vmin;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }
}

.savingVeil {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: all;
}

.savingLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  font-size: 3rem;
}

.databaseButton {
  margin-left: 1vmin;
}
