.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: wheat;
  width: 100%;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.dialogButton {
  position: relative;
  box-sizing: border-box;
  padding: 0.35vmin 1vmin;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  border: 2px solid white;
  border-radius: 0.5vmin;
  background-color: #333;
  color: white;
  opacity: 0.5;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.closeButton {
  @extend .dialogButton;
  margin-top: 1.5vmin;
  width: 15vmin;
}

.listContainer {
  position: relative;
  padding-top: 0.5vmin;
  padding-left: 0.5vmin;
  padding-right: 0.5vmin;
  border-radius: 0.5vmin;
  box-shadow: inset 0 0 0 2px wheat;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.title {
  @extend .normalText;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid yellow;
}

.contentRow {
  @extend .row;
  position: relative;
  margin-top: 1vmin;
}

.participantsSection {
  @extend .contentRow;
  justify-content: space-between;
  width: 100%;
}

.participantsContainer {
  @extend .column;
  position: relative;
  width: 29.5vmin;
}

.participantsListContainer {
  @extend .listContainer;
  height: 20vmin;
}

.filtersContainer {
  position: relative;
  margin-top: 1vmin;
  display: flex;
  flex-direction: column;
  background-color: #222;
}

.filterText {
  position: relative;
  width: 8vmin;
  margin-left: 0.5vmin;
  margin-right: 0.5vmin;
  font-size: 1rem;
  color: wheat;
  text-align: left;
}

.filterSelector {
  width: 19.4vmin;
}

.listRow {
  margin-bottom: 0.25vmin;
  padding: 0.25vmin;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.3);
  }
}

.listName {
  font-size: 0.8rem;
  color: wheat;
  text-align: left;
  flex-grow: 1;
}

.listLevel {
  margin-left: 0.5vmin;
  font-size: 0.8rem;
  color: yellow;
  text-align: center;
  width: 2.2vmin;
  flex-shrink: 0;
}

.listClass {
  margin-left: 0.25vmin;
  font-size: 0.8rem;
  color: wheat;
  width: 12vmin;
  text-align: left;
}

.plusMinusButton {
  position: relative;
  margin-left: 0.25vmin;
  margin-top: -0.1vmin;
  margin-bottom: -0.1vmin;
  width: 1.2vmin;
  height: 1.2vmin;
  flex-shrink: 0;
  font-size: 0.85rem;
  text-align: center;
  line-height: 1.4vmin;
  color: wheat;
  border: 1px solid wheat;
  border-radius: 0.25vmin;
  opacity: 0.5;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.adventurersListContainer {
  @extend .listContainer;
  height: 20vmin;
}

.preparednessContainer {
  position: relative;
  margin-top: 1vmin;
  align-self: center;
}
