.root {
  width: 28vmin;
  border-radius: 1vmin;
  border: 2px solid white;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.label {
  color: wheat;
  font-size: 1.2rem;
  text-align: right;
}

.textField {
  position: relative;
  font-size: 1.1rem;
}

.contentRow {
  @extend .row;
  position: relative;
  margin-top: 1vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
}

.titleLabel {
  position: relative;
  margin-top: 0.5vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  font-size: 1.5rem;
  color: wheat;
  text-align: center;
  border-bottom: 1px solid yellow;
}

.typeLabel {
  @extend .label;
  position: relative;
  text-align: center;
  width: 30vmin;
}

.countRow {
  @extend .row;
  position: relative;
  margin-top: 1vmin;
  margin-left: 1vmin;
  margin-right: 1vmin;
  justify-content: center;
}

.countLabel {
  @extend .label;
  position: relative;
  margin-left: 0vmin;
}

.countTextField {
  @extend .textField;
  position: relative;
  width: 10vmin;
  margin-left: 1vmin;
}

.buttonRow {
  @extend .row;
  margin-top: 1.5vmin;
  margin-bottom: 1.5vmin;
  position: relative;
  justify-content: center;
}

.saveButton {
  position: relative;
  padding: 0.5vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }
}

.deleteButton {
  position: relative;
  padding: 0.5vmin;
  margin-left: 1vmin;
  box-sizing: border-box;
  background-color: black;
  border: solid 2px #aaa;
  border-radius: 0.5vmin;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    border-color: white;
  }

  &:active {
    border-color: lime;
  }
}

.savingVeil {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: all;
}

.savingLabel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: wheat;
  font-size: 3rem;
}

.infoPanel {
  @extend .column;
  position: relative;
  box-sizing: border-box;
  margin-left: 1vmin;
  margin-right: 1vmin;
  padding: 1vmin;
  border-radius: 0.5vmin;
  border: 2px solid wheat;
  flex-grow: 1;
  height: 27vmin;
}

.infoRow {
  @extend .row;
  margin-bottom: -0.5vmin;
}

.infoLabel {
  position: relative;
  width: 10vmin;
  text-align: right;
  color: white;
  font-size: 1rem;
}

.infoValue {
  position: relative;
  margin-left: 0.5vmin;
  color: yellow;
  font-size: 1rem;
}

.componentLabel {
  position: relative;
  color: wheat;
  font-size: 0.9rem;
  text-align: center;
}

.horizontalLine {
  position: relative;
  margin-top: 0.5vmin;
  margin-bottom: 0.5vmin;
  background-color: wheat;
  height: 1px;
  width: 100%;
}

.descriptionContainer {
  position: relative;
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 1.5vmin;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: black;
    box-shadow: inset 0 0 0 2px wheat;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: rgba(245, 222, 179, 0.5);
  }
}

.descriptionLabel {
  position: relative;
  width: 100%;
  color: gray;
  font-size: 0.8rem;
  text-align: center;
}
