.root {
  @extend .row;
  padding: 0.5vmin;
  background-color: #222;
  border-radius: 0.5vmin;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.valueText {
  font-size: 1rem;
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  @extend .normalText;
  align-self: center;
  flex-grow: 1;
}
