.root {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 1vmin;
  padding: 0.5vmin 0.5vmin 0;
  background-color: #222;
  border-radius: 0.5vmin;
}

.normalText {
  font-size: 1rem;
  color: wheat;
}

.subText {
  font-size: 1rem;
  color: white;
}

.valueText {
  font-size: 1rem;
  color: yellow;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.centeredRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  @extend .normalText;
  flex-grow: 1;
}

.horizontalLine {
  background-color: yellow;
  height: 1px;
  margin-bottom: 0.5vmin;
}

.listRow {
  margin-bottom: 0.5vmin;
  padding: 0vmin 0.5vmin;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:hover {
    box-shadow: inset 0 0 0 2px rgba(255, 0, 0, 0.3);
  }
}

.listName {
  font-size: 1rem;
  color: white;
  text-align: left;
  text-overflow: ellipsis;
  width: 15vmin;
}

.tooltipRoot {
  max-width: 45vmin;
}

.tooltipHeader {
  @extend .row;
  justify-content: space-between;
}

.tooltipTitle {
  font-size: 1rem;
  color: wheat;
}

.tooltipValue {
  font-size: 1rem;
  color: yellow;
}

.tooltipText {
  font-size: 0.8rem;
  color: white;
  margin-top: 0.5vmin;
  text-align: justify;
  white-space: pre-wrap;
}

.tooltipSubtext {
  font-size: 0.8rem;
  font-style: italic;
  color: gray;
  margin-top: 0.5vmin;
  text-align: justify;
  white-space: pre-wrap;
}

.tooltipBonusText {
  font-size: 0.8rem;
  font-style: italic;
  color: lime;
  margin-top: 0.5vmin;
  text-align: justify;
  white-space: pre-wrap;

  .penalty {
    color: red;
  }
}
